body {
    font-family: sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background-color: #6d6d6d;
}

#calculator {
    width: 300px;
    background-color: #222;
    padding: 20px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#display {
    grid-column: span 4;
    background-color: #000;
    color: #0f0;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-radius: 8px;
    overflow-x: hidden;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background: #444;
    color: white;
    cursor: pointer;
    transform: 0.2s;
}
button:hover {
    background: #666;
}

.operator {
    background: #c57b00;
}
.operator:hover {
    background: #e09000;
}

#clear {
    background: #a40000;
}
#clear:hover {
    background: #d10000;
}
#equals {
    background: #008c34;
}
#equals:hover {
    background: #00b44a;
}