body {
    font-family: sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 10px;
    padding: 20px;
    background: #333;
    border-radius: 15px;
}

#display {
    grid-column: 1 / -1;
    background-color: #000;
    color: lime;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

.btn {
    background: #555;
    border: none;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    background: #666;
}

.operator {
    background: #ff9500;
}
.operator:hover {
    background: #ffa733;
}

.clear {
    background: #a40000;
}
.clear:hover {
    background: #d10000;
}
#equals {
    background: #008c34;
    grid-row: span 2;
}
#equals:hover {
    background: #00b44a;
}
.zero {
    grid-column: span 2;
}